In [163]:
import pandas as pd

In [164]:
impor pa

dataset_SCL.csv  Flight_analysis.ipynb	README.md  Untitled.ipynb

In [102]:
data

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,AÃ‘O,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,year,month,hour,temporada_alta
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,2017,Domingo,I,American Airlines,Santiago,Miami,2017,1,23,0
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,2017,Lunes,I,American Airlines,Santiago,Miami,2017,1,23,0
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,2017,Martes,I,American Airlines,Santiago,Miami,2017,1,23,0
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,2017,Miercoles,I,American Airlines,Santiago,Miami,2017,1,23,0
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,2017,Jueves,I,American Airlines,Santiago,Miami,2017,1,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,2017,12,14,0
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,...,2017,Lunes,I,JetSmart SPA,Santiago,Lima,2017,12,14,0
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,...,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,2017,12,14,0
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,2017,12,14,0
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,...,2017,Domingo,I,JetSmart SPA,Santiago,Lima,2017,12,14,0

In [183]:
# load dataset

def load_data(path):
    data = pd.read_csv(path)
    data['Fecha-I'] = pd.to_datetime(data['Fecha-I'], format="%Y/%m/%d %H:%M:%S")
    data['Fecha-O'] = pd.to_datetime(data['Fecha-O'], format="%Y/%m/%d %H:%M:%S")

    return data

load_data('dataset_SCL.csv')

# rows and columns of the data
print(data.shape)

# visualise the dataset
data.head()

(68206, 18)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÃ‘O,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [184]:
def is_temporada_alta(fecha):
    if (
        date(2017, 12, 15) < fecha < date(2017, 3, 3) or
        date(2017, 7, 15) < fecha < date(2017, 7, 31) or
        date(2017, 9, 11) < fecha < date(2017, 9, 30)
        ):
        
        return True
    else:
        return False

def get_minutes_difference(row):
    return (row['Fecha-O']-row['Fecha-I']).total_seconds() / 60


def periodo_dia(hora):
    if hora >= 5 and hora < 12:
        return 'maÃ±ana'
    
    elif hora >=12 and hora < 19:
        return 'tarde'
    
    else:
        return 'noche'

def create_feature_dif_min(data):
    df = data.copy()
    df['dif_min'] = df.apply(lambda x: get_minutes_difference(x),axis=1)
    return df

def create_feature_atraso_15(data):
    df = data.copy()
    df['atraso_15'] = df['dif_min'].apply(lambda x: 1 if x > 15 else 0)
    
    return df

def create_feature_temporada_alta(data):
    df = data.copy()
    df['temporada_alta'] = data['Fecha-I'].apply(lambda x: 1 if is_temporada_alta(x) else 0)
    
    return df


def create_time_features(data):
    
    df = data.copy()
    
    df['year'] = pd.DatetimeIndex(data['Fecha-I']).year
    df['month'] = pd.DatetimeIndex(data['Fecha-I']).month
    df['hour'] = pd.DatetimeIndex(data['Fecha-I']).hour

    return df

def create_feature_periodo_dia(data):
    df = data.copy()
    
    df['periodo_dia'] = df['hour'].apply(lambda x: periodo_dia(x)) 
    
    return df

def create_syntethic_features(data):
    df = data.copy()
    
    df = create_feature_temporada_alta(df)
    df = create_feature_dif_min(df)                                     
    df = create_feature_atraso_15(df)
    df = create_feature_periodo_dia(df)
    
    return df

In [185]:
data = create_time_features(data)
data = create_syntethic_features(data)

In [195]:
def save_syntethic_features(data, path):
    SYNTHETIC_FEATURES = ['temporada_alta', 'dif_min', 'atraso_15', 'periodo_dia']
    
    data[SYNTHETIC_FEATURES].to_csv(path, index=False)
    
    return None

In [196]:
save_syntethic_features(data,'synthetic_features.csv')